extends layouts/main
block content
    .wrapper(class="flex flex-col justify-center items-center h-full")    
        .local-login(class="w-full flex justify-center items-center")    
            form.local-login__form(class="bg-white shadow-md rounded px-10 pt-6 pb-8 mb-4", action=routes.login, method="post")
                div.form-id(class="mb-4")
                    label(class="block text-gray-700 text-base font-bold mb-3", for="email") 사용자 ID
                    input(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", name="email", id="email", type="text", placeholder="E-mail", required=true) 
                div.form-password(class="mb-6")
                    label(class="block text-gray-700 text-base font-bold mb-3" for="password") 비밀번호
                    input(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline", name="password", id="password", type="password", placeholder="************", required=true)
                    //- p(class="text-red-500 text-xs italic") Please choose a password
                div.form-btn(class="flex items-center justify-between")
                    a(class="text-blue-500 font-bold mr-3 rounded focus:outline-none focus:shadow-outline", type="button", href=routes.join) 회원가입                
                    input(type="submit", value="로그인", class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer")
                div.form-social(class="flex items-center justify-center mt-6")
                    a(href=routes.naver, class="flex flex-col justify-center items-center")
                        span
                            img(class="h-12", src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile24.uf.tistory.com%2Fimage%2F99580C465C3D7D130CF754", alt="", srcset="")
                       
                    a(href=routes.kakao, class="flex flex-col justify-center items-center")
                        span
                            img(class="h-10", src="https://developers.kakao.com/tool/resource/static/img/button/login/full/ko/kakao_login_medium_narrow.png", alt="", srcset="")
                        